[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "randomNames"]
	path = randomNames
	url = https://github.com/centerforassessment/randomnames
[submodule "SGP"]
	path = SGP
	url = https://github.com/centerforassessment/sgp
[submodule "SGPdata"]
	path = SGPdata
	url = https://github.com/centerforassessment/sgpdata
[submodule "toOrdinal"]
	path = toOrdinal
	url = https://github.com/centerforassessment/toordinal
